@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "IBM Plex Sans", sans-serif;
}

body {
  height: 100vh;
  background: #55aaaa;
  overflow-x: hidden;
  padding: 20px 30px;
  box-sizing: border-box;
}

.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.header {
  padding: 10px;
  width: 500px;
  text-align: center;
  background: #c0c0c0;
  box-shadow: -1px -1px 0 1px #fff, 1px 1px 0 1px #000;
  font-weight: bold;
  border: 6px solid #c0c0c0;
  font-size: 28px;
}

.heists-list {
  height: 550px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 105px;
}

.heist {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  width: 400px;
  padding: 20px 30px;
  background: #c0c0c0;
  box-shadow: -1px -1px 0 2px #fff, 1px 1px 0 2px #000;
  border: 6px solid #c0c0c0;
  flex-shrink: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.heist-title {
  width: 100%;
  background: #0029ff;
  border: 4px solid #c0c0c0;
  box-shadow: -1px -1px 0 1px #fff, 1px 1px 0 1px #000;
  color: #fff;
  padding-block: 12px;
  text-align: center;
  font-size: 26px;
  font-weight: 600;
  user-select: none;
}

.heist-items {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 5px;
  margin-top: 45px;
  max-height: 95%;
  border-bottom: 2px solid #fff;
}

.heist-items button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  background: #c0c0c0;
  padding: 7px;
  width: 100%;
  height: 55px;
  box-shadow: -1px -1px 0 1px #fff, 1px 1px 0 1px #000;
  margin-bottom: 30px;
  cursor: pointer;
  position: relative;
}

.heist-items button:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background: #808080;
}

.heist-items button:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 3px;
  height: 100%;
  background: #808080;
}

.heist-items button div {
  font-size: 14px;
  font-weight: 700;
}

.heist-items button:hover {
  background: #0029ff;
}

.heist-items button:hover div {
  color: #fff;
}

.heist-name {
  text-transform: uppercase;
}

.footer {
  width: 1200px;
  height: 100px;
  padding: 10px 30px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  font-weight: 700;
}

.desc {
  height: 100%;
  background: #c0c0c0;
  border: 4px solid #c0c0c0;
  box-shadow: -1px -1px 0 1px #fff, 1px 1px 0 1px #000;
  box-sizing: border-box;
  padding: 20px;
  font-size: 26px;
}

.author {
  height: 100%;
  background: #c0c0c0;
  border: 4px solid #c0c0c0;
  box-shadow: -1px -1px 0 1px #fff, 1px 1px 0 1px #000;
  box-sizing: border-box;
  padding: 5px;
}

.socials {
  margin-top: 5px;
  padding: 4px;
  display: flex;
  justify-content: space-around;
  position: relative;
  isolation: isolate;
}

.social-link {
  width: 24px;
  height: 24px;
  display: grid;
  place-content: center;
  background: #c0c0c0;
  padding: 4px;
  box-shadow: -1px -1px 0 1px #fff, 1px 1px 0 1px #000;
  color: #000;
  cursor: pointer;
  position: relative;
}

.social-link:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #808080;
}

.social-link:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 2px;
  height: 100%;
  background: #808080;
}

.social-link:hover {
  background: #0029ff;
  color: #fff;
}

#discord{
  cursor: pointer;
}

#copy{
  background: #0029ff;
  border: 2px solid #c0c0c0;
  padding: 4px 8px;
  box-shadow: -1px -1px 0 1px #fff, 1px 1px 0 1px #000;
  color: #fff;
  position: absolute;
  top: -90%;
  left: -11%;
  display: none;
}

