*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Montserrat', Helvetica, Arial, Lucida, sans-serif;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: #000210;
  box-sizing: border-box;
  color: rgba(255, 255, 255);
  overflow: hidden;
}

.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}

.title{
  font-size: 26px;
  font-weight: 600;
}

.heists-box{
  width: 1000px;
  height: 600px;
  padding: 25px;
}

.row{
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  padding-inline: 1.5rem;
  width: 100%;
  color: rgba(255, 255, 255, .7);
}

.search{
  height: 100%;
  display: flex;
  align-items: center;
  flex: 1;
  border-bottom: 1px solid rgba(255, 255, 255, .3);
}

.focus{
  border-bottom: 1px solid rgba(255, 255, 255, .7);
}

.search input{
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background: transparent;
  padding: 15px 25px;
  font-size: 18px;
  font-weight: 600;
  color: rgba(255, 255, 255, .7);
}

.search svg{
  margin-right: 15px;
}

.dropdown{
  flex: 1;
  max-width: 175px;
  position: relative;
}

.dropdown-header{
  background: #000215;
  border: 2px solid #1f2231;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  padding: 15px 25px;
  display: flex;
  justify-content: space-between;
  user-select: none;
  align-items: center;
  transition: all .075s ease, border-color .125s linear;
}

.dropdown-header:hover{
  border-color: #292d41;
}

.dropdown-menu{
  position: absolute;
  background: #000215;
  border: 1px solid #1f2231;
  border-radius: 5px;
  top: calc(100% + 4px);
  left: 4px;
  width: 100%;
  padding: 15px 10px;
  z-index: 99;
  transition: all .075s linear;
  opacity: 0;
  transform-origin: top left;
  transform: scale(.9);
  visibility: hidden;
}

.dropdown-menu.opened{
  opacity: 1;
  visibility: visible;
  transform: none;
}

.heist-option{
  padding: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  user-select: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background .075s ease;
}

.heist-option:hover{
  background: #000422;
}

.heists-list{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background: #000214;
  border-radius: 15px;
  margin-top: 3.25rem;
  padding: 35px 30px;
  height: 100%;
  max-height: 90%;
  overflow: auto;
}

.heists-list::-webkit-scrollbar{
  width: 7px;
}

.heists-list::-webkit-scrollbar-track{
  background: transparent;
}

.heists-list::-webkit-scrollbar-thumb{
  background: #313eb4;
  border-radius: 15px;
}

.title{
  font-weight: 600;
  font-size: 24px;
  color: rgba(255, 255, 255, .7);
}

.title span{
  color: #4c006f;
}

.heist{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 422.5px;
  height: 250px;
  background: #030018;
  border-radius: 10px;
  margin-bottom: 35px;
  padding: 25px 20px;
  font-size: 17px;
  box-shadow: 0 6px 8px rgba(0, 0, 0, .2);
  transition: transform .125s linear, box-shadow .085s ease;
}

.heist:hover{
  transform: translateX(5px);
}

.heist:nth-child(2n-1):hover{
  transform: translateX(-5px);
}

.heist div{
  margin-bottom: 25px;
}

.heist-name b{
  color: #3787FF;
  text-transform: uppercase;
}

.heist button{
  margin-top: auto;
  padding: 10px 45px;
  border-radius: 3px;
  background: #006EEF;
  border: none;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  color: #fff;
  transition: background .2s ease, transform .15s ease, border-radius .15s ease;
}

.heist button:hover{
  background: rgb(0, 43, 92)
}

.heist button:active{
  transform: scale(.95);
  border-radius: 6px;
}

.footer{
  display: flex;
  gap: 3rem;
  margin-top: 15px;
}

.contact{
  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: 10px;
  font-size: 16px;
  padding: 15px 25px;
  background: #000214;
}

.content{
  padding-right: 1rem;
  border-right: 1px solid rgba(255, 255, 255, .3);
}

.socials{
  position: relative;
}

.socials a{
  color: #fff;
  margin-right: 15px;
  cursor: pointer;
  transition: color .15s ease;
}

.socials a:last-child{
  margin-right: 0;
}

.socials a:hover{
  color: #006EEF;
}

#copied{
  position: absolute;
  bottom: 100%;
  left: -35%;
  background: #000320;
  text-align: center;
  padding: 8px;
  border-radius: 5px;
}

.last-heist {
  text-align: right;
}

.last-heist b{
  color: #3787FF;
}

#timestamp{
  margin-top: 10px;
}

.circle-blur{
  position: absolute;
  background: radial-gradient(50% 50% at 50% 50%, rgb(0, 22, 58) 0, rgba(18, 18, 18, 0) 100%), transparent;
  width: 55rem;
  height: 55rem;
  border-radius: 50%;
  z-index: -1;
  animation-duration: 1200s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#circle-1{
  top: -316px;
  left: -482px;
  animation-name: move1;
}

@keyframes move1{
  0%, 100%{
    top: -316px;
    left: -482px;
  }
  25%{
    top: 286px;
    left: 428px;
  }
  50%{
    top: 526px;
    left: 791px;
  }
  75%{
    top: 846px;
    left: 1261px;
  }
}

#circle-2{
  bottom: -364px;
  right: -522px;
  animation-name: move2;
}

@keyframes move2{
  0%, 100%{
    bottom: -364px;
    right: -522px;
  }
  25%{
    bottom: 226px;
    right: 394px;
  }
  50%{
    bottom: 612px;
    right: 678px;
  }
  75%{
    bottom: 876px;
    right: 1357px;
  }
}

