@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

$gradient: linear-gradient(15deg, #591c1c, rgb(27, 2, 3));
$backgroundColor_1: #241015;
$backgroundColor_2: #5E4545;
$backgroundColor_3: #3E2C2C;

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: IBM Sans Plex, sans-serif;
}

body, 
#app{
    background: black;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center; 
    align-items: center;
    color: #fff;

    a{
        position: absolute;
        display: flex;
        background: rgba(184, 54, 54, .1);
        padding: 12px;
        left: 15px;
        top: 15px;
        border-radius: 6px;
        border: 1px solid #5a1d1d;
        box-shadow: 0 8px 24px rgba(79, 25, 25, .75);
        color: #fff;
        cursor: pointer;
        user-select: none;
        z-index: 999;
        transition: all .3s ease;

        &:hover{
            border-color: #b83636;
            background: rgba(184, 54, 54, .2);
        }
    }

    .wrapper{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        position: relative;
        width: 1200px;
        height: 800px;
        border: 1px solid black;
        background: $gradient;
        border-radius: 3px;

        .header{
            width: 100%;
            background: $backgroundColor_1;
            height: 2rem;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .row{
                display: flex;
                height: 100%;

                >div{
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                
                .icon{
                    aspect-ratio: 1 / 1;
                    background-color: $backgroundColor_2;
                }

                .title{    
                    background-color: $backgroundColor_3;
                    padding-inline: 1rem;
                    color: #fff;
                    font-weight: bold;
                    font-size: 14px;
                }

                .img{
                    padding-inline: 1rem;
                }

                &:last-child{
                    background: $backgroundColor_3;

                    >div{
                        padding-inline: .75rem;
                        font-size: 14px;

                        &:last-child{
                            border-left: 1px solid rgba(255, 255, 255, .05);
                        }
                    }
                }
            }
        }

        .container{
            flex: 1;
            position: relative;
            overflow: hidden;
            padding: .5rem;

            .hack-timer{
                padding: 7px 10px;
                background: #2B2121;
                position: absolute;
                top: 200px;
                right: 15px;
                color: #fff;
                border-radius: 10px;
                box-shadow: 0 0 4px #00000080;
                border-bottom: 2px solid #553D3C;
                animation: show-timer 1.5s ease forwards;

                @keyframes show-timer {
                    0% {
                        top: -200px;
                    }
                    100% {
                        top: 15px;
                    }
                }
            }      

            .desktop-buttons{
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 15px;
                position: absolute;
                left: 0;
                top: 0;

                .desktop-button{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    border-radius: 2px;
                    gap: 5px;
                    align-items: center;
                    margin: 5px;
                    padding-block: 5px;
                    width: 105px;
                    transition: background .065s ease;

                    &:hover{
                        background: rgba(107, 38, 38, 0.5);
                        outline: 1px solid rgb(107, 38, 38);
                    }

                    .button-icon {
                        display: flex;

                        img{
                            height: 60px;
                            width: 60px;
                            user-select: none;
                            
                        }
                    }

                    .button-text{
                        color: #fff;
                        font-size: 13px;
                        color: #ffffff;
                        text-shadow: 0 0 3px #000;
                        user-select: none;
                        text-align: center;
                        word-wrap: break-word;
                    }
                }
            }

            .hack-wrapper, .settings-wrapper{
                display: flex;
                flex-direction: column;
                width: 925px;
                height: 650px;
                background: $backgroundColor_1;
                border-radius: 10px;
                margin: 2.5rem auto 0 auto;
                position: relative;
                box-shadow: 0 0 10px rgba(0 0 0 / 40%),
                            0 0 20px rgba(0 0 0 / 30%),
                            0 0 40px rgba(0 0 0 / 30%);
                box-sizing: border-box;

                .hack-header, .settings-header{
                    width: 100%;
                    padding: .5rem 1rem;

                    .hack-header-title, .settings-header-title{
                        font-size: 14px;
                    }

                    .buttons{
                        position: absolute;
                        top: 0;
                        right: 0;
                        display: flex;
                        height: 26px;

                        .button{
                            height: 100%;
                            display: grid;
                            place-content: center;
                            border: none;
                            width: 28px;
                            background: transparent;
                            font-size: 14px;
                            color: #fff;
                            box-sizing: border-box;
                            cursor: pointer;
                            position: relative;
                            transition: background .085s linear;

                            &:hover{
                                background: rgba(255, 255, 255, .1)
                            }

                            > #mini::before {
                                content: "";
                                position: absolute;
                                height: 2px;
                                width: 20%;
                                background: #fff;
                                bottom: 5px;
                                left: 3px;
                            }

                            > #resize::before {
                                content: "";
                                position: absolute;
                                width: 10px;
                                height: 8px;
                                left: 50%;
                                bottom: 50%;
                                transform: translate(-50%, 90%);
                                border: 1px solid #ffffff;
                                border-top: 2px solid #ffffff;
                            }

                            &#close{
                                border-top-right-radius: 10px;

                                > svg{
                                    position: absolute;
                                    bottom: 4px;
                                    left: 7px;
                                }

                                &:hover{
                                    background: rgb(84, 0, 0);
                                }
                            }
                        }
                    }
                }

                .hack-container{
                    flex: 1;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    padding: 20px;

                    .hack-title{
                        position: absolute;
                        top: 0;
                        left: 50%;
                        transform: translateX(-50%);
                        font-weight: 600;
                        margin-top: 15px;
                    }

                    .hack-info{
                        position: absolute;
                        text-align: center;
                        top: calc(50% - 1.5rem);
                        font-size: 14px;
                        font-weight: 600;

                        span{
                            color: rgba(255, 255, 255, .25);
                            font-size: 10px;
                        }
                    }

                    .hack-function{
                        position: relative;
                        margin: 0 auto;
                        height: 450px;
                        width: 800px;  
                        position: relative;

                        .number-box{
                            width: 48px;
                            height: 48px;
                            background: var(--random-color);
                            border-radius: 5px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-size: 16px;
                            font-weight: bold;
                            text-transform: uppercase;
                            box-sizing: border-box;
                            color: white;
                            transition: .1s linear;
                            font-family: serif;
                            box-shadow: 0 8px 24px rgba(0, 0, 0, .5);
                            position: absolute;
                            user-select: none;
                            transition: background .025s ease;

                            &.good{
                                background: #160C0F !important;
                                outline: 1px solid rgba(255, 255, 255, .25)
                            }

                            &.hidden{
                                color: transparent;
                            }
                        }
                    }

                    .hack-progress{
                        width: calc(100% - 2 * 25px);
                        height: 18px;
                        background: #190B0C;
                        border-radius: 15px;
                        position: absolute;
                        bottom: 30px;
                        margin: 0 auto;


                        .progress{
                            height: 100%;
                            background: #ff8180;
                            box-shadow: 0 20px 25px rgba(255, 129, 128, .4),
                                        0 50px 45px rgba(255, 129, 128, .2),
                                        0 100px 90px rgba(255, 129, 128, .2);
                            border-radius: 15px;
                        }
                    }
                }
            }

            .settings-wrapper{
                width: 500px !important;
                height: 650px !important;
                margin: 2.5rem auto 0 auto;
                background: $backgroundColor_1;
                box-shadow: 0 0 10px rgba(0 0 0 / 40%),
                            0 0 20px rgba(0 0 0 / 30%),
                            0 0 40px rgba(0 0 0 / 30%);

                .settings{
                    width: 100%;
                    height: 100%;
                    border-radius: 10px;
                    padding: 10px 16px;
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    gap: 1.5rem;
                    margin-top: 1rem;

                    .setting{
                        display: flex;
                        gap: .5rem;
                        align-items: center;
                        padding: .5rem 1rem;
                        width: 100%;
                        background: #250a0a;
                        outline: 2px solid transparent;
                        border-radius: 10px;
                        box-shadow: 0 6px 12px rgba(0, 0, 0, .5);
                        transition: outline .2s ease;
                        font-size: 14px;
                        color: #f00;

                        &:hover{
                            outline-color:#3b1010;
                        }

                        .description{
                            min-width: 100px;
                        }

                        .input{
                            flex: 1;

                            input{
                                appearance: none;
                                width: 100%;
                                height: 6px;
                                border-radius: 15px;
                                background: #170000;
                                border-left: 2px solid red;
                                border-right: 2px solid red;

                                &::-webkit-slider-thumb{
                                    appearance: none;
                                    width: 10px;
                                    height: 10px;
                                    box-shadow: 0 0 8px rgba(255, 0, 0, .5), 0 0 0 4px rgb(34, 0, 0);
                                    border-radius: 50%;
                                    background: red;
                                    transition: .2s ease;
                                    cursor: pointer;

                                    &:hover{
                                        transform: scale(1.2);
                                    }
                                }
                            }
                        }

                        .value{
                            min-width: 20px;
                            text-align: center;
                        }
                    }

                    .hint{
                        font-weight: 600;
                        font-size: 12px;
                        color: rgba(255, 255, 255, 0.35);
                        text-align: left;
                        width: 100%;
                    }
                }

                &.fade-enter-active,
                &.fade-leave-active{
                    transition: all .2s ease; 
                }


                &.fade-enter-from{
                    opacity: 0;
                    transform: translateY(-100%);
                }

                &.fade-leave-to{
                    opacity: 0;
                    transform: translateY(100%);
                }
            }
        }
    }
}