*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  background: black;
  height: 100vh;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'IBM Sans Plex', sans-serif;
}

#back {
  position: absolute;
  background: #381111;
  padding: 8px 40px;
  left: 15px;
  top: 15px;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  user-select: none;
  z-index: 999;
}

#back:hover {
  background: #4c1717;
}

.timer{
  padding: 7px 10px;
  background: #2B2121;
  position: absolute;
  display: none;
  top: 200px;
  right: 15px;
  color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 4px #00000080;
  border-bottom: 2px solid #553D3C;
  animation: show-timer 1.5s ease forwards;
}

@keyframes show-timer {
  0% {
    top: -200px;
  }
  100% {
    top: 15px;
  }
}

.os-wrapper{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  position: relative;
  width: 1200px;
  height: 800px;
  border: 1px solid black;
  background: linear-gradient(15deg, #591c1c, rgb(27, 2, 3));
  border-radius: 2px;
}

.os-header{
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  background: #2B2121;
  height: 32px; 
}

.os-header-box-1, .os-header-box-2{
  display: flex;
}

.os-el{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search{
  background: #5E4545;
  border-top-left-radius: 2px;
  aspect-ratio: 1/1;
  color: #fff;
}

.os-name{
  background: #3E2C2C;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  padding-inline: 15px;
}

.weird-dots{
  padding-inline: 15px;
}

.space{
  flex: 1;
}

.os-header-box-2{
  background: #3E2C2C;
  color: #fff;
  font-size: 14px;
  padding-inline: 20px;
  border-top-right-radius: 2px;
  gap: 20px;
}

.os-container{
  flex: 1;
  position: relative;
  overflow: hidden;
}

.os-icons{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  position: absolute;
  left: 0;
  top: 0;
}

.os-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 2px;
  gap: 5px;
  align-items: center;
  margin: 5px;
  padding-block: 5px;
}

.os-icon:hover{
  background: rgba(107, 38, 38, 0.5);
  outline: 1px solid rgb(107, 38, 38);
}

.os-icon-image{
  user-select: none;
  padding-inline: 20px;
}

.os-icon-desc{
  color: #fff;
  font-size: 13px;
  color: #ffffff;
  text-shadow: 0 0 3px #000;
  user-select: none;
}

.hack-box {
  width: 850px;
  height: 650px;
  background: #241015;
  border-radius: 10px;
  margin: 2.5rem auto 0 auto;
  position: relative;
  box-shadow: 0 0 10px rgba(0 0 0 / 40%),
              0 0 20px rgba(0 0 0 / 30%),
              0 0 40px rgba(0 0 0 / 30%);
  box-sizing: border-box;
}

.hack-header {
  width: 100%;
  display: flex;
  box-sizing: border-box;
  font-size: 14px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  justify-content: space-between;
  align-items: center;
  background: #241015;
  position: relative;
  color: rgb(255, 255, 255);
}

.hack-header .buttons {
  display: flex;
  gap: 1px;
}

.buttons{
  position: absolute;
  right: 0;
  top: 0;
  height: 26px;
}

.hack-header .name{
  font-size: 14px;
  padding: 8px 12px;
}

.button {
  height: 100%;
  display: grid;
  place-content: center;
  border: none;
  width: 28px;
  background: transparent;
  font-size: 14px;
  color: #fff;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
  transition: background .085s linear;
}

.button:hover {
  background: rgba(255, 255, 255, .1)
}

#mini::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 30%;
  background: #fff;
  bottom: 5px;
  left: 3px;
}

#resize::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 6px;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, 90%);
  border: 1px solid #ffffff;
  border-top: 2px solid #ffffff;
}

#close{
  border-top-right-radius: 10px;
}

#close > svg{
  position: absolute;
  bottom: 4px;
  left: 7px;
}

#close:hover{
  background: rgb(84, 0, 0);
}

.hack-info {
  color: #fff;
  height: 275px;
  width: 100%;
  text-align: center;
  translate: 0 100%;
}

.hack-title {
  color: #fff;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  font-weight: bold;
  gap: 10px;
}

.hack-fn:not(.reversed) .hack-title{
  margin-bottom: 20px; 
}

#hack-title-text, .level {
  font-size: 16px;
}

.level{
  color: #0096e0;
  text-shadow: 0 0 3px rgba(0, 150, 224);
}

#hack-info-text {
  font-size: 14px;
  font-weight: 600;
}

.hack-footer {
  position: absolute;
  bottom: 15px;
  width: 800px;
  left: 50%;
  transform: translateX(-50%);
}

.progress-bar {
  width: 100%;
  height: 18px;
  background: #190B0C;
  border-radius: 15px;
  margin-block: 10px 15px;
}

#progress-bar-fn {
  position: relative;
  height: 100%;
  background: #ff8180;
  box-shadow: 0 20px 25px rgba(255, 129, 128, .4),
              0 50px 45px rgba(255, 129, 128, .2),
              0 100px 90px rgba(255, 129, 128, .2);
  border-radius: 15px;
}

.hack-fn {
  position: relative;
  margin: 0 auto;
  height: 400px;
  width: 700px;  
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1rem;
  border-radius: 5px;
  translate: 0 60px;
}

.box-letter{
  background: rgba(255 255 255 / 5%);
  border: 1px solid rgba(255 255 255 / 20%);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.75em;
  font-weight: bold;
  text-transform: uppercase;
  box-sizing: border-box;
  color: white;
  transition: .1s linear;
}

.box-letter.current{
  background: rgba(255 255 255 / 10%);
}

.box-letter.good{
  background: rgb(255 0 0 / 60%);
  border-color: rgb(255 0 0);
}


