@font-face {
  font-family: defaultFont;
  src: url('../../font/Windows_Regular.ttf');
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'defaultFont', sans-serif;
}

body {
  background: linear-gradient(145deg, #009BB0, #38937D);
  height: 100vh;
  display: grid;
  place-items: center;
  position: relative;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.start-hack {
  --height: 3.5rem;
  background: #FFFFFF;
  border: 2px solid #0f003f;
  outline: none;
  height: var(--height);
  width: calc(var(--height) * 3);
  color: #000;
  font-weight: 600;
  letter-spacing: 3px;
  font-size: 22px;
  box-sizing: border-box;
  cursor: pointer;
  user-select: none;
}

.start-hack:hover {
  background: #0f003f;
  color: #fff;
}

.start-hack:active {
  transform: scale(.9);
}

#back {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  left: -300px;
  top: 15px;
  padding-top: 5px;
  box-sizing: border-box;
  border-bottom: 1px solid #005621;
  border-left: none;
  border-right: none;
  border-top: none;
  border-radius: 5px 5px 0 0;
  background-color: #008265;
  color: #111;
  cursor: pointer;
  box-shadow: inset 0 0 8px #006b29;
  opacity: 0.8;
  user-select: none;
  z-index: 999;
  animation: show-home .5s ease forwards;
  animation-delay: .5s;
}

@keyframes show-home{
  0%{
    left: -300px;
  }
  100%{
    left: 15px;
  }
}

#back::before {
  content: "";
  background: #00ff61;
  width: 100%;
  height: 4px;
  filter: blur(5px);
  position: absolute;
  top: 110%;
  left: 0;
}

#back svg {
  filter: drop-shadow(0 0 4px #9e9e9e);
}

#back:hover {
  opacity: 1;
}

.statistics-container {
  position: absolute;
  top: 15px;
  right: -300px;
  animation: show-statistics .5s ease forwards;
  animation-delay: .6s;
}

@keyframes show-statistics{
  0%{
    right: -300px;
  }
  100%{
    right: 15px;
  }
}

.statistics-header {
  --sheight: 2rem;
  height: calc(var(--sheight) * 1.25);
  width: calc(var(--sheight) * 5);
  background: #008291b5;
  border: 1px solid #006470;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding-inline: 15px;
  align-items: center;
  cursor: pointer;
  transition: all 0.1s linear;
}

.opened {
  border-bottom-color: transparent;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.statistics-header span:nth-child(2){
  padding-top: 5px;
}

.statistics-header span svg {
  transition: transform 0.1s ease;
}

.open {
  transform: rotate(180deg);
}

.statistics-menu {
  position: relative;
  z-index: 329;
  background: #008291b5;
  border: 1px solid #006470;
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  box-sizing: border-box;
  width: 100%;
  padding: 10px 15px;
  transform: scaleY(0);
  transform-origin: top center;
  transition: transform 0.085s ease;
}

.statistics-menu > div {
  margin-bottom: 15px;
}

.statistics-menu > div:last-child {
  margin-bottom: 5px;
}

.collapsed {
  transform: scaleY(1);
}

.statistics-container > * {
  font-size: 18px;
  font-weight: 600;
  color: #000;
  user-select: none;
}

.hack-options {
  margin-top: 50px;
}

.options > * {
  font-family: "IBM Plex Sans", sans-serif;
}

.options {
  font-size: 14px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
  margin-top: 20px;
}

.options:last-child{
  justify-content: flex-start;
}

.checkbox{
  display: grid;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  height: 1.35em;
  width: 1.35em;
  color: currentColor;
  border-radius: 3px;
  border: 1px solid currentColor;
  place-content: center;
  translate: 0 1px;
}

.checkbox::before{
  content: '';
  box-shadow: inset 1em 1em currentColor;
  clip-path: polygon(14% 44%,0 65%,50% 100%,100% 16%,80% 0,43% 62%);
  transform: scale(0);
  transform-origin: center center;
  transition: transform .1s ease-in-out;
  width: .85em;
  height: .85em;
}

.checkbox:checked::before{
  transform: scale(1);
}

.hack-box {
  width: 850px;
  height: 700px;
  background: #fff;
  border: 3px solid #abb0b0;
  padding: 10px 25px;
  position: relative;
  margin-bottom: 2rem;
  box-sizing: border-box;
  box-shadow: 1px 1px 0 0.1px #000, -1px -1px 2px 0.1px #fff,
    inset -2px -2px 0 1px #fff, inset 0 0 0 2px #8d8d8d;
}

.hack-header {
  position: absolute;
  top: -1.95rem;
  z-index: -1;
  left: -3px;
  height: 1.8rem;
  width: 850px;
  display: flex;
  padding: 3px 2px;
  box-sizing: border-box;
  font-size: 14px;
  border: 3px solid #abb0b0;
  justify-content: space-between;
  box-shadow: 1px 1px 0 0.1px #000, -1px -1px 2px 0.1px #fff;
  align-items: center;
  background: #0400ff;
  color: #fff;
}

.hack-header .buttons {
  height: 18px;
  display: flex;
  gap: 3px;
}

.hack-info {
  color: #000;
  height: 260px;
  width: 100%;
  text-align: center;
  translate: 0 100%;
}

.hack-title {
  color: #000;
  margin-top: 15px;
  width: 100%;
  margin-bottom: 30px;
  text-align: center;
}

#hack-title-text {
  font-weight: 600;
  font-size: 18px;
}

#hack-info-text {
  font-weight: 600;
  font-size: 18px;
}

.hack-footer {
  position: absolute;
  bottom: 15px;
  width: 800px;
}

.progress-bar {
  width: 100%;
  height: 30px;
  background: #C0C0C0;
  margin-block: 20px 15px;
  border-top: 2px solid #9A9A9A;
  border-left: 3px solid #C1C0C1;
  box-shadow: -1px -1px 0 .5px #848384;
}

#progress-bar-fn {
  position: relative;
  height: 100%;
  background: #0400ff;
}

.hack-fn {
  position: relative;
  margin: 0 auto;
  height: 400px;
  width: 400px;
  display: grid;
  gap: 15px;
  transform: translateY(10%);
  grid-template-columns: repeat(7, auto);
}

.hack-fn::after{
  content: '';
  position: absolute;
  top: -5%;
  right: -7%;
  height: 112%;
  width: 4px;
  background: #818081;
  border-radius: 50px 0 0 0;
}

.hack-fn::before{
  content: '';
  position: absolute;
  bottom: -7%;
  left: -5%;
  height: 4px;
  width: 112%;
  background: #818081;
  border-radius: 50px 0 0 0;
}

.square{
  background: #D6D5D6;
  border: 1px solid #B6B4B6;
  transition: all .085s linear;
}

.red{
  background: #DC999E;
  border: 1px solid #DB4350;
  filter: drop-shadow(0 35px 27px #DC999E)
}

.blue{
  background: #9E9BB5;
  border: 1px solid #0F0637;
  filter: drop-shadow(0 35px 27px #9E9BB5)
}

.green{
  background: #ACD1B2;
  border: 1px solid #1F5D2D;
  filter: drop-shadow(0 35px 27px #ACD1B2)
}

.hack-count{
  position: absolute;
  top: 270px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #fff;
  height: 4rem;
  width: 670px;
  text-align: center;
}

#color-number{
  position: absolute;
  border: none;
  outline: none;
  width: 70%;
  left: 27.5%;
  height: 100%;
  font-size: 1.5rem;
  font-weight: 900;
  font-family: 'IBM Sans Plex', sans-serif;
}

#color-number::placeholder{
  color: var(--randomColor, #999);
}

.hack-level{
  width: 100%;
  text-align: center;
  font-size: 12px;
}


