@font-face {
  font-family: defaultFont;
  src: url("../../font/Windows_Regular.ttf");
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  background: #55aaaa;
  height: 100vh;
  display: grid;
  place-items: center;
  position: relative;
  overflow: hidden;
  font-family: "IBM Plex Sans", sans-serif;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.start-hack, .how-to-play {
  --height: 5rem;
  background: #C0C0C0;
  border-left: 3px solid #fff;
  border-top: 3px solid #fff;
  border-right: 3px solid #000;
  border-bottom: 3px solid #000;
  height: var(--height);
  width: 100%;
  color: #000;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 22px;
  box-sizing: border-box;
  cursor: pointer;
  user-select: none;
  margin-bottom: 2rem;
  position: relative;
}

.start-hack::before, .how-to-play::before{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px; 
  background: #808080;
}

.start-hack::after, .how-to-play::after{
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 3px; 
  background: #808080;
} 

.start-hack:hover, .how-to-play:hover {
  color: #fff;
  background: #0029ff;
}

.start-hack:active, .how-to-play:active {
  scale: .95;
}

#back {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  left: -300px;
  top: 15px;
  box-sizing: border-box;
  border-bottom: 2px solid #000;
  border-left: 2px solid #fff;
  border-right: 2px solid #000;
  border-top: 2px solid #fff;
  background-color: #C0C0C0;
  color: #000;
  cursor: pointer;
  user-select: none;
  z-index: 999;
  animation: show-home .5s ease forwards;
  animation-delay: .5s;
}

#back:hover{
  background: #cecece;
}

#back:active{
  background: #b5b5b5;
}

@keyframes show-home{
  0%{
    left: -300px;
  }
  100%{
    left: 15px;
  }
}

#modal {
  width: 900px;
  height: 700px;
  background: #fff;
  border: 3px solid #abb0b0;
  padding: 10px 25px;
  position: absolute;
  z-index: 99999;
  top: 70px;
  box-sizing: border-box;
  box-shadow: 1px 1px 0 0.1px #000, -1px -1px 2px 0.1px #fff,
    inset -2px -2px 0 1px #fff, inset 0 0 0 2px #8d8d8d;
  transition: opacity 0.2s linear, visibility 0.2s linear, transform 0.2s ease;
}

.modal-hidden {
  transform: scale(0);
  opacity: 0;
  visibility: hidden;
}

.modal-revealed {
  transform: scale(1);
  opacity: 1;
  visibility: visible;
}

.modal-header {
  height: 1.8rem;
  width: 895px;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  padding: 3px 2px;
  box-sizing: border-box;
  font-size: 14px;
  border-bottom: 3px solid #abb0b0;
  justify-content: space-between;
  box-shadow: 1px 1px 0 0.1px #000, -1px -1px 2px 0.1px #fff;
  align-items: center;
  background: #0400ff;
  color: #fff;
}

.modal-header .buttons {
  height: 18px;
  display: flex;
  gap: 3px;
}

.modal-container {
  position: absolute;
  width: 100%;
  top: 1.8rem;
  left: 0;
  padding: 0.75rem;
  box-sizing: border-box;
}

.modal-container > * > * {
  font-weight: 600;
}

.content-title {
  text-align: center;
  padding-bottom: 15px;
  border-bottom: 1px solid #000;
}

.modal-content {
  margin-top: 20px;
  font-size: 14px;
  line-height: 1.5em;
  text-align: center;
}

.modal-content p {
  margin-bottom: 20px;
}

.modal-content h2 {
  color: #0400ff;
  text-decoration: underline;
}

.modal-content p:nth-of-type(3) {
  font-size: 10px;
  opacity: 0.7;
  margin-top: 30px;
}

.link{
  margin-top: 30px
}

.link a{
  font-size: 32px;
  color: #0400ff;
  letter-spacing: .1em;
  position: relative;
}

.link a::before{
  content: '';
  position: absolute;
  left: 0;
  top: 100%;
  height: 5px;
  width: 100%;
  background: #6764fc;
  transform: scaleX(0);
  transition: transform .2s linear;
}

.link a:hover::before{
  transform: scaleX(1);
}

.patterns h1{
  font-size: 32px;
  color: #0400ff;
  text-decoration: underline;
  filter: drop-shadow(0 15px 15px #0400ff);
}

.patterns{
  margin-top: 40px;
  position: relative;
}

.patterns::before{
  content: '';
  position: absolute;
  top: -20px;
  left: 0;
  width: 100%;
  height: 1px;
  background: #000;
}

table{
  margin: 30px auto;
  border-collapse: collapse;
}

table thead tr th{
  font-size: 18px;
  margin-block: 10px;
}

table tbody tr th{
  font-size: 18px;
  padding: 10px;
  border: 1px solid #0400ff;
  text-decoration: underline;
}

table tbody tr td{
  border: 1px solid #0400ff;
}

#close-modal{
  padding: 8px 14px;
  background: rgba(30, 0, 255, .4);
  border: 1px solid rgba(30, 0, 255, .4);
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  transition: all .2s linear;
  cursor: pointer;
}

#close-modal:hover{
  background: rgb(30, 0, 255);
  border: 1px solid rgb(30, 0, 255);
  color: #fff;
}

.options {
  font-size: 14px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
  margin-top: 20px;
}

.options div:first-child {
  width: 210px;
  text-align: left;
}

.options div:last-child {
  width: 30px;
  text-align: right;
}

.options:last-child{
  justify-content: flex-start;
}

.checkbox{
  display: grid;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  height: 1.35em;
  width: 1.35em;
  color: currentColor;
  border-radius: 3px;
  border: 1px solid currentColor;
  place-content: center;
  translate: 0 1px;
}

.checkbox::before{
  content: '';
  box-shadow: inset 1em 1em currentColor;
  clip-path: polygon(14% 44%,0 65%,50% 100%,100% 16%,80% 0,43% 62%);
  transform: scale(0);
  transform-origin: center center;
  transition: transform .1s ease-in-out;
  width: .85em;
  height: .85em;
}

.checkbox:checked::before{
  transform: scale(1);
}

.options div:first-child {
  width: 210px;
  text-align: left;
}

.options div:last-child {
  width: 30px;
  text-align: right;
}

.input {
  width: 300px;
  vertical-align: middle;
  border-radius: 15px;
  height: 4px;
  opacity: 0.7;
  outline: none;
  background: #a5f6ff;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.input::-webkit-slider-thumb {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #0d58a8;
  box-shadow: 0 0 0 4px rgba(13, 88, 168, 0.6);
  cursor: pointer;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.input:hover {
  opacity: 1;
}

.hack-box {
  width: 760px;
  height: 700px;
  background: #fff;
  border: 3px solid #abb0b0;
  padding: 10px 25px;
  position: relative;
  margin-bottom: 2rem;
  box-sizing: border-box;
  box-shadow: 1px 1px 0 0.1px #000, -1px -1px 2px 0.1px #fff,
    inset -2px -2px 0 1px #fff, inset 0 0 0 2px #8d8d8d;
  font-family: "defaultFont", sans-serif;
}

.hack-header {
  position: absolute;
  top: -1.95rem;
  z-index: -1;
  left: -3px;
  height: 1.8rem;
  width: 760px;
  display: flex;
  padding: 3px 2px;
  box-sizing: border-box;
  font-size: 14px;
  border: 3px solid #abb0b0;
  justify-content: space-between;
  box-shadow: 1px 1px 0 0.1px #000, -1px -1px 2px 0.1px #fff;
  align-items: center;
  background: #0400ff;
  color: #fff;
}

.hack-header .buttons {
  height: 18px;
  display: flex;
  gap: 3px;
}

.hack-info {
  color: #000;
  height: 260px;
  width: 100%;
  text-align: center;
  translate: 0 100%;
}

.hack-title {
  color: #000;
  margin-top: 15px;
  width: 100%;
  margin-bottom: 30px;
  text-align: center;
}

#hack-title-text {
  font-weight: 600;
  font-size: 18px;
}

#hack-info-text {
  font-weight: 600;
  font-size: 18px;
}

.hack-footer {
  position: absolute;
  bottom: 15px;
  width: 670px;
}

.progress-bar {
  width: 100%;
  height: 30px;
  background: #c0c0c0;
  margin-block: 20px 15px;
  border-top: 2px solid #9a9a9a;
  border-left: 3px solid #c1c0c1;
  box-shadow: -1px -1px 0 0.5px #848384;
}

#progress-bar-fn {
  position: relative;
  height: 100%;
  background: #0400ff;
}

.hack-fn {
  position: relative;
  margin: 0 auto;
  height: 350px;
  width: 350px;
  display: grid;
  transform: translateY(70px);
}

.hack-fn::after {
  content: "";
  position: absolute;
  top: -5%;
  right: -7%;
  height: 112%;
  width: 3px;
  background: #818081;
  border-radius: 50px 0 0 0;
}

.hack-fn::before {
  content: "";
  position: absolute;
  bottom: -7%;
  left: -5%;
  height: 3px;
  width: 112%;
  background: #818081;
  border-radius: 50px 0 0 0;
}

.row {
  display: flex;
  width: 100%;
}

.square {
  display: grid;
  place-items: center;
  background: #c1c0c1;
  border: 1px solid #bebdbe;
  padding: 6px;
  width: 100%;
}

.active {
  background: #5c5e80;
  border: 1px solid #5d6082;
}

.row:nth-child(1) .active:nth-child(1) {
  background: #737598;
  border: 1px solid #76789b;
}
