@font-face {
  font-family: defaultFont;
  src: url('../../font/Windows_Regular.ttf');
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  background: #55aaaa;
  height: 100vh;
  display: grid;
  place-items: center;
  position: relative;
  overflow: hidden;
  font-family: "IBM Plex Sans", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.start-hack {
  --height: 5rem;
  background: #C0C0C0;
  border-left: 3px solid #fff;
  border-top: 3px solid #fff;
  border-right: 3px solid #000;
  border-bottom: 3px solid #000;
  height: var(--height);
  width: 100%;
  color: #000;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 22px;
  box-sizing: border-box;
  cursor: pointer;
  user-select: none;
  position: relative;
}

.start-hack::before{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px; 
  background: #808080;
}

.start-hack::after{
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 3px; 
  background: #808080;
} 

.start-hack:hover {
  color: #fff;
  background: #0029ff;
}

.start-hack:active {
  scale: .95;
}

#back {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  left: -300px;
  top: 15px;
  box-sizing: border-box;
  border-bottom: 2px solid #000;
  border-left: 2px solid #fff;
  border-right: 2px solid #000;
  border-top: 2px solid #fff;
  border-radius: 3px;
  background-color: #C0C0C0;
  color: #000;
  cursor: pointer;
  user-select: none;
  z-index: 999;
  animation: show-home .5s ease forwards;
  animation-delay: .5s;
}

#back:hover{
  background: #cecece;
}

#back:active{
  background: #b5b5b5;
}

@keyframes show-home{
  0%{
    left: -300px;
  }
  100%{
    left: 15px;
  }
}

.options {
  font-size: 14px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
  margin-top: 20px;
  font-family: "IBM Plex Sans", sans-serif;
}

.options:last-child{
  justify-content: flex-start;
}

.checkbox{
  display: grid;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  height: 1.35em;
  width: 1.35em;
  color: currentColor;
  border-radius: 3px;
  border: 1px solid currentColor;
  place-content: center;
  translate: 0 1px;
}

.checkbox::before{
  content: '';
  box-shadow: inset 1em 1em currentColor;
  clip-path: polygon(14% 44%,0 65%,50% 100%,100% 16%,80% 0,43% 62%);
  transform: scale(0);
  transform-origin: center center;
  transition: transform .1s ease-in-out;
  width: .85em;
  height: .85em;
}

.checkbox:checked::before{
  transform: scale(1);
}

.hack-box {
  width: 720px;
  height: 700px;
  background: #fff;
  border: 3px solid #abb0b0;
  padding: 10px 25px;
  position: relative;
  margin-bottom: 2rem;
  box-sizing: border-box;
  box-shadow: 1px 1px 0 0.1px #000, -1px -1px 2px 0.1px #fff,
    inset -2px -2px 0 1px #fff, inset 0 0 0 2px #8d8d8d;
  font-family: 'defaultFont', sans-serif;
}

.hack-header {
  position: absolute;
  top: -1.95rem;
  z-index: -1;
  left: -3px;
  height: 1.8rem;
  width: 720px;
  display: flex;
  padding: 3px 2px;
  box-sizing: border-box;
  font-size: 14px;
  border: 3px solid #abb0b0;
  justify-content: space-between;
  box-shadow: 1px 1px 0 0.1px #000, -1px -1px 2px 0.1px #fff;
  align-items: center;
  background: #0400ff;
  color: #fff;
  font-family: "IBM Plex Sans", sans-serif;
}

.hack-header .buttons {
  height: 16px;
  display: flex;
  gap: 3px;
}

.button{
  height: 100%;
  display: grid;
  place-content: center;
  padding-bottom: 10px;
  padding-right: 2px;
  border-radius: 2px;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  width: 18px;
  background: #C0C0C0;
  color: #000;
  font-size: 20px;
  font-weight: 600;
  box-sizing: border-box;
  cursor: pointer;
}

.button:hover{
  background: #4000FF;
  color: #fff;
}

#close{
  padding-bottom: 0;
  padding-right: 0;
  font-size: 16px;
}

#resize{
  position: relative;
}

#resize::before{
  content: '';
  position: absolute;
  width: 9px;
  height: 7px;
  left: 2px;
  top: 2px;
  border-radius: 2px;
  border: 1px solid #000;
  border-top: 2px solid #000;
}

#resize:hover::before{
  border-color: #fff;
}

.hack-info {
  color: #000;
  height: 260px;
  width: 100%;
  text-align: center;
  translate: 0 100%;
}

.hack-title {
  color: #000;
  margin-top: 15px;
  width: 100%;
  margin-bottom: 30px;
  text-align: center;
}

#hack-title-text {
  font-weight: 600;
  font-size: 18px;
}

#hack-info-text {
  font-weight: 600;
  font-size: 18px;
}

.hack-footer {
  position: absolute;
  bottom: 15px;
  width: 670px;
}

.progress-bar {
  width: 100%;
  height: 30px;
  background: #C0C0C0;
  margin-block: 20px 15px;
  border-top: 2px solid #9A9A9A;
  border-left: 3px solid #C1C0C1;
  box-shadow: -1px -1px 0 .5px #848384;
}

#progress-bar-fn {
  position: relative;
  height: 100%;
  background: #0400ff;
}

.hack-fn {
  position: relative;
  margin: 0 auto;
  height: 500px;
  width: 500px;
  display: grid;
  grid-template-columns: repeat(15, auto);
}

.square{
  display: grid;
  place-items: center;
  border: 1px solid #8D8D8D;
  padding: 6px;
}

.square, .square > * {
  transition: all .1s linear;
}

.set{
  width: 100%;
  height: 100%;
  border-radius: 7px;
}

.mazesquare{
  width: 100%;
  height: 100%;
  border: 1px solid #8D8D8D;
}

.head{
  position: relative;
  z-index: 9999;
  background: #B5D5B9;
  border: 1px solid #5C8162;
  box-shadow: 0 0 2px #5C8162;
}

.finish{
  background: url('../imgs/star.png') #B5D5B9;
  background-position: top center;
  background-size: 100% 100%;
  border: 1px solid #5C8162;
  box-shadow: 0 0 2px #5C8162;
}

.good{
  background: #A4A0BB;
  border: 1px solid #201B54;
  box-shadow: 0 0 2px #201B54;
}

.wrongmaze{
  background: #E15C64;
  outline: 1px solid #E15C64;
  border: none;
}

.wrong{
  background: #DD9EA3;
  border: 1px solid #E15C64;
  box-shadow: inset 0 0 0 2px #E15C64;
}

.wrong-path{
  border: 1px solid #E15C64;
  background: #DD9DA3;
}
