@font-face {
  font-family: defaultFont;
  src: url('../../font/Windows_Regular.ttf');
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  background: #55aaaa;
  height: 100vh;
  display: grid;
  place-items: center;
  position: relative;
  overflow: hidden;
  font-family: "IBM Plex Sans", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.start-hack, .how-to-play {
  --height: 5rem;
  background: #C0C0C0;
  border-left: 3px solid #fff;
  border-top: 3px solid #fff;
  border-right: 3px solid #000;
  border-bottom: 3px solid #000;
  height: var(--height);
  width: 100%;
  color: #000;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 22px;
  box-sizing: border-box;
  cursor: pointer;
  user-select: none;
  margin-bottom: 2rem;
  position: relative;
}

.start-hack::before, .how-to-play::before{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px; 
  background: #808080;
}

.start-hack::after, .how-to-play::after{
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 3px; 
  background: #808080;
} 

.start-hack:hover, .how-to-play:hover {
  color: #fff;
  background: #0029ff;
}

.start-hack:active, .how-to-play:active {
  scale: .95;
}

#back {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  left: -300px;
  top: 15px;
  box-sizing: border-box;
  border-bottom: 2px solid #000;
  border-left: 2px solid #fff;
  border-right: 2px solid #000;
  border-top: 2px solid #fff;
  background-color: #C0C0C0;
  color: #000;
  cursor: pointer;
  user-select: none;
  z-index: 999;
  animation: show-home .5s ease forwards;
  animation-delay: .5s;
}

#back:hover{
  background: #cecece;
}

#back:active{
  background: #b5b5b5;
}

@keyframes show-home{
  0%{
    left: -300px;
  }
  100%{
    left: 15px;
  }
}

#modal{
  width: 600px;
  height: 650px;
  background: #fff;
  border: 3px solid #ABB0B0;
  padding: 10px 25px;
  position: absolute;
  top: 100px;
  z-index: 100000;
  box-sizing: border-box;
  box-shadow: 1px 1px 0 .1px #000, -1px -1px 2px .1px #fff,
              inset -2px -2px 0 1px #fff, inset 0 0 0 2px #8D8D8D;
  transition: opacity .2s linear, visibility .2s linear, transform .3s ease;
}

.modal-hidden{
  transform: translateY(200%);
  opacity: 0;
  visibility: hidden;
}

.modal-revealed{
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}

.modal-header{
  height: 1.8rem;
  width: 595px;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  padding: 3px 2px;
  box-sizing: border-box;
  font-size: 14px;
  border-bottom: 3px solid #ABB0B0;
  justify-content: space-between;
  box-shadow: 1px 1px 0 .1px #000, -1px -1px 2px .1px #fff;
  align-items: center;
  background: #0400ff;
  color: #fff;
}

.modal-header .buttons{
  height: 18px;
  display: flex;
  gap: 3px;
}

.modal-header .buttons img:nth-child(3){
  cursor: pointer;
}

.modal-container{
  position: absolute;
  width: 100%;
  top: 1.8rem;
  left: 0;
  padding: .75rem;
  box-sizing: border-box;
}

.modal-container > * > *{
  font-weight: 600;
}

.content-title{
  text-align: center;
  padding-bottom: 15px;
  border-bottom: 1px solid #000;
}

.modal-content{
  margin-top: 20px;
  font-size: 14px;
  line-height: 1.5em;
  text-align: center;
}

.modal-content p{
  margin-bottom: 20px;
}

.modal-content h2{
  color: #0400ff;
  text-decoration: underline;
}

.modal-content img{
  margin-inline: auto;
  margin-top: 2rem;
  width: 300px;
  height: 300px;
}

.modal-content p:nth-of-type(4){
  font-size: 10px;
  opacity: .7;
  margin-top: 5px;
}

.options {
  font-size: 14px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
  margin-top: 20px;
  font-family: "IBM Plex Sans", sans-serif;
}

.options:last-child{
  justify-content: flex-start;
}

.checkbox{
  display: grid;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  height: 1.35em;
  width: 1.35em;
  color: currentColor;
  border-radius: 3px;
  border: 1px solid currentColor;
  place-content: center;
  translate: 0 1px;
}

.checkbox::before{
  content: '';
  box-shadow: inset 1em 1em currentColor;
  clip-path: polygon(14% 44%,0 65%,50% 100%,100% 16%,80% 0,43% 62%);
  transform: scale(0);
  transform-origin: center center;
  transition: transform .1s ease-in-out;
  width: .85em;
  height: .85em;
}

.checkbox:checked::before{
  transform: scale(1);
}

.hack-box {
  width: 720px;
  height: 700px;
  background: #fff;
  border: 3px solid #abb0b0;
  padding: 10px 25px;
  position: relative;
  margin-bottom: 2rem;
  box-sizing: border-box;
  box-shadow: 1px 1px 0 0.1px #000, -1px -1px 2px 0.1px #fff,
    inset -2px -2px 0 1px #fff, inset 0 0 0 2px #8d8d8d;
  font-family: "defaultFont", sans-serif;
}

.hack-header {
  position: absolute;
  top: -1.95rem;
  left: -3px;
  height: 1.8rem;
  width: 720px;
  display: flex;
  padding: 3px 2px;
  box-sizing: border-box;
  font-size: 14px;
  border: 3px solid #abb0b0;
  justify-content: space-between;
  box-shadow: 1px 1px 0 0.1px #000, -1px -1px 2px 0.1px #fff;
  align-items: center;
  background: #0400ff;
  color: #fff;
  font-family: "IBM Plex Sans", sans-serif;
}

.hack-header .buttons {
  height: 16px;
  display: flex;
  gap: 3px;
}

.button{
  height: 100%;
  display: grid;
  place-content: center;
  padding-bottom: 10px;
  padding-right: 2px;
  border-radius: 2px;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  width: 18px;
  background: #C0C0C0;
  color: #000;
  font-size: 20px;
  font-weight: 600;
  box-sizing: border-box;
  cursor: pointer;
}

.button:hover{
  background: #4000FF;
  color: #fff;
}

#close{
  padding-bottom: 0;
  padding-right: 0;
  font-size: 16px;
}

#resize{
  position: relative;
}

#resize::before{
  content: '';
  position: absolute;
  width: 9px;
  height: 7px;
  left: 2px;
  top: 2px;
  border-radius: 2px;
  border: 1px solid #000;
  border-top: 2px solid #000;
}

#resize:hover::before{
  border-color: #fff;
}

.hack-info {
  color: #000;
  height: 300px;
  width: 100%;
  text-align: center;
  translate: 0 100%;
}

.hack-title {
  color: #000;
  margin-top: 15px;
  width: 100%;
  margin-bottom: 30px;
  text-align: center;
}

#hack-title-text {
  font-weight: 600;
  font-size: 18px;
}

#hack-info-text {
  font-weight: 600;
  font-size: 18px;
}

.hack-footer {
  position: absolute;
  bottom: 15px;
  width: 670px;
}

.progress-bar {
  width: 100%;
  height: 30px;
  background: #C0C0C0;
  margin-block: 20px 15px;
  border-top: 2px solid #9A9A9A;
  border-left: 3px solid #C1C0C1;
  box-shadow: -1px -1px 0 .5px #848384;
}

#progress-bar-fn {
  position: relative;
  height: 100%;
  background: #0400ff;
}

.hack-fn {
  position: relative;
  margin: 0 auto;
  height: 500px;
  width: 500px;
  display: grid;
  gap: 4px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

.square{
  display: grid;
  place-items: center;
  border: 1px solid #494949;
  font-size: 3.5rem;
  opacity: .7;
  font-weight: 600;
  cursor: pointer;
  transition: all .2s linear;
  user-select: none;
}

.square:hover{
  opacity: .8;
}

.square:first-child{
  z-index: 99999;
  position: relative;
  background: #E1D489;
  border: 1px solid #E1D489;
  font-size: 1.5rem;
  opacity: 1;
  color: #fff;
  filter: drop-shadow(0 50px 40px rgba(225, 212, 137, .8));
}

.square:last-child{
  z-index: 99999;
  position: relative;
  border: 1px solid #E1D489;
  background: #E1D489;
  font-size: 1.5rem;
  opacity: 1;
  color: #fff;
  filter: drop-shadow(0 50px 40px rgba(225, 212, 137, .8))
}

.breathing{
  z-index: 9999;
  position: relative;
  background: #A09CB8;
  border: 1px solid #50487B;
  opacity: 1;
  filter: drop-shadow(0 50px 40px rgba(160, 156, 184, .8));
  animation: breathing 2s ease infinite;
}

@keyframes breathing{
  0, 100%{
    opacity: 1;
  }
  50%{
    opacity: .7;
  }
}

.good{
  z-index: 9999;
  position: relative;
  opacity: 1;
  border: 1px solid #579362;
  background: #AED1B2;
  filter: drop-shadow(0 50px 40px rgba(87, 147, 98, .8))
}

.bad{
  z-index: 9999;
  position: relative;
  opacity: 1;
  border: 1px solid #AD434C;
  background: #E18E92;
  filter: drop-shadow(0 50px 40px rgba(225, 142, 146, .8))
}

.hidden{
  color: transparent;
}

.right-path{
  position: relative;
  z-index: 100000;
  opacity: 1;
  background: #B0A289;
  border: 1px solid #8A7D6A;
  filter: drop-shadow(0 50px 40px rgba(176, 162, 137, .8));
}

