@font-face {
  font-family: Tahoma;
  src: url('../../font/Tahoma_Regular.ttf');
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Tahoma", sans-serif;
}

body {
  background: #1c1c1c;
  height: 100vh;
  display: grid;
  place-items: center;
  position: relative;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.play-buttons{
  width: 95%;
  position: absolute;
  left: 10px;
  bottom: 30px;
}

.start-hack{
  --height: 3rem;
  border: none;
  height: var(--height);
  background: #1d1c1e;
  width: 100%;
  color: #fff;
  font-weight: 600;
  border-radius: 5px;
  letter-spacing: 1px;
  font-size: 18px;
  box-sizing: border-box;
  cursor: pointer;
  user-select: none;
  position: relative;
  transition: background .15s linear;
}

.start-hack:hover{
  background: #6300c0;
}

#back {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  left: -300px;
  top: 15px;
  box-sizing: border-box;
  background: #2a2a2a;
  border-left: 1px solid #6300c0;
  border-radius: 0 5px 5px 0;
  color: #fff;
  cursor: pointer;
  user-select: none;
  z-index: 999;
  animation: show-home .3s ease forwards;
  animation-delay: .5s;
  transition: box-shadow .085s linear;
}

#back::before{
  content: '';
  position: absolute;
  background: #4b0092;
  height: 100%;
  width: 3px;
  top: 0;
  left: -6px;
  filter: blur(4px);
}

#back:hover{
  background: #353535;
}

@keyframes show-home{
  0%{
    left: -300px;
  }
  100%{
    left: 15px;
  }
}

.hack-header{
  position: relative;
}

.camera-screen{
  position: absolute;
  top: -5px;
  left: 75px;
  width: 175px;
  height: 25px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  background-color: #000;
}

.utils{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 10px;
}

.assets{
  display: flex;
  align-items: center;
  gap: 4px;
}

.time{
  display: flex;
}

.time > div{
  font-size: 12px;
  font-weight: 600;
  color: #fff;
}

.hack-box {
  width: 375px;
  height: 750px;
  background: linear-gradient(45deg, #190430, #40007E);
  border: 7px solid #131214;
  border-radius: 25px;
  padding: 5px 10px 5px 20px;
  position: relative;
  box-sizing: border-box;
  font-family: "defaultFont", sans-serif;
}

.hack-info {
  color: #ffffff;
  height: 350px;
  width: 100%;
  text-align: center;
  translate: 0 100%;
}

.hack-title {
  color: #ffffff;
  margin-top: 20px;
  width: 100%;
  margin-bottom: 30px;
  text-align: center;
}

#hack-title-text {
  font-weight: 600;
  font-size: 14px;
}

#hack-info-text {
  font-weight: 600;
  font-size: 12px;
}

.hack-footer {
  position: absolute;
  bottom: 8px;
  width: 310px;
}

.progress-bar {
  width: 100%;
  height: .75rem;
  background: #1d033ad2;
  border-radius: 20px;
  margin-block: 20px 15px;
}

#progress-bar-fn {
  position: relative;
  height: 94%;
  background: #3C0175;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.hack-fn-box {
  position: relative;
  margin: 0 auto;
  width: 215px;
  height: 215px;
  padding: 15px;
  border: 1px solid #5c00b2;
  border-radius: 10px;
  background: #19043080;
  translate: 0 60%;
}

.hack-fn {
  width: 100%;
  height: 100%;
  display: grid;
  gap: 6px;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 1fr);
}

.square{
  background: #6200C5;
  border-radius: 3px;
  cursor: pointer;
}

.square2{
  width: 100%;
  height: 100%;
}

.good{
  background: #B78DEF;
  scale: 0 .5;
  animation: appear .75s forwards linear;
}

.wrong{
  border-radius: 3px;
  background: #FF003D;
  scale: 0 .5;
  animation: appear .75s forwards linear;
}

@keyframes appear{
  0%{
    scale: 0 .5;
  }
  35%{
    scale: .3 .5;
  }
  70%{
    scale: .2 .2;
  }
  100%{
    scale: 1;
  }
}
